section.home-main {

  div.container {
    height: auto;
    width: 1280px;
    margin: 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div.team {
      display: flex;

      div.team-logo {

        img {
          height: 150px;
          width: auto;
        }
      }

      div.team-content {
        margin-left: 20px;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 45px;
          margin-top: 7px;
        }

        div.dividing-line {
          background-color: #d2003c;
          height: 2px;
          width: 125px;
          margin: 10px 0 20px 0;
        }

        p {
          text-align: center;
        }
      }
    }

    div.achievements {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-weight: 600;
        text-shadow: 0 0 4px white;
        margin-bottom: 25px;
      }

      ul {
        display: flex;

        li {
          margin: 0 8px;

          img {
            height: 30px;
            width: auto;
            transition: all .3s ease;
          }

          img:hover {
            cursor: pointer;
            transform: translateY(-3px);
          }

          div.popover {
            background-color: #272e3e;
            position: absolute;
            text-align: center;
            transform: translateX(-40%);
            border-radius: 6px;
            padding: 5px 10px;
            margin-top: 25px;
            visibility: hidden;
            opacity: 0;
            transition: all .5s ease;
            z-index: 500;

            h4 {
              font-size: 14px;
            }

            h5 {
              font-size: 12px;
            }
          }

          img:hover ~ div.popover {
            margin-top: 8px;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  section.home-main div.container {
    justify-content: space-around;
    margin: 0 72px 0 0;

    div.team {
      flex-direction: column;
      align-items: center;
  
      div.team-logo {
        height: 120px;

        img {
          height: 120px;
        }
      }
  
      div.team-content {
        align-items: center;
        margin: 0;
  
        h1 {
          font-size: 36px;
          margin: 0;
        }
  
        div.dividing-line {
          width: 100px;
          margin-bottom: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  section.home-main {
    height: auto;

    div.container {
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;
      padding: 18px 15px 72px 15px;

      div.team {
        margin-bottom: 28px;

        div.team-content div.dividing-line {
          margin-top: 4px;
          margin-bottom: 12px;
        }
      }

      div.achievements h3 {
        margin-bottom: 16px;
      }
    }
  }
}