section.home-players {
  background-color: #151521;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 20px;

  ul.players {
    height: auto;
    width: 1350px;
    margin: 0 25px;
    display: flex;
    justify-content: space-between;

    li.player {
      list-style: none;
      height: 450px;
      width: 18%;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      margin-bottom: 25px;

      a {

        div.gradients {
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: all 1.5s ease;
        }
  
        h5.role {
          position: absolute;
          top: 10px;
          width: 100%;
          text-align: center;
          font-size: 16px;
          text-shadow: 0 0 3px black;
        }
  
        img {
          position: absolute;
          bottom: 0;
        }
        
        img.img_2 {
          opacity: 0;
        }
  
        div.names {
          position: absolute;
          left: 15px;
          bottom: 10px;
          text-shadow: 0 0 3px black;
  
          h3 {
            color: #fc0;
            font-size: 21px;
          }
  
          h4 {
            color: white;
            font-size: 18px;
          }
        }
  
        ul.social-media {
          position: absolute;
          right: 0;
          bottom: 0;
          margin-right: 10px;
  
          li {
            position: absolute;
            right: -40px;
            height: 30px;
            width: auto;
            margin-bottom: 10px;
            transition: all .3s ease;
          }
  
          .twitter {
            bottom: 80px;
            transition-delay: .1s;
          }
  
          .facebook {
            bottom: 40px;
            transition-delay: .2s;
          }
  
          .instagram {
            bottom: 0;
            transition-delay: .3s;
          }
        }
      }
    }

    li.ana {
      background: url("background/ember.png") no-repeat;
      background-size: cover;

      .gradients {
        background: linear-gradient(60deg, #a00000 33%, transparent 80%);
      }

      .img_1 {
        width: 75%;
        right: 0;
      }

      .img_2 {
        width: 84%;
        right: 0;
      }
    }

    li.topson {
      background: url("background/monkey_king.png") no-repeat;
      background-size: cover;

      .gradients {
        background: linear-gradient(72deg, #a07e00 33%, transparent 80%);
      }

      .img_1 {
        width: 100%;
        left: 6px;
      }

      .img_2 {
        width: 85%;
        right: 0;
      }
    }

    li.ceb {
      background: url("background/magnus.png") no-repeat;
      background-size: cover;

      .gradients {
        background: linear-gradient(60deg, #a04200 33%, transparent 80%);
      }

      .img_1 {
        width: 100%;
        left: 5px;
      }

      .img_2 {
        width: 82%;
        right: 18px;
      }
    }

    li.jerax {
      background: url("background/rubick.png") no-repeat right;
      background-size: cover;

      .gradients {
        background: linear-gradient(220deg, #00a00c 33%, transparent 80%);
      }

      .img_1 {
        width: 100%;
        right: 12px;
      }

      .img_2 {
        width: 100%;
      }
    }

    li.n0tail {
      background: url("background/clockwerk.png") no-repeat right;
      background-size: cover;

      .gradients {
        background: linear-gradient(245deg, #0056a0 45%, transparent 80%);
      }

      .img_1 {
        width: 72%;
        left: 10px;
      }

      .img_2 {
        width: 95%;
      }
    }

    li.player:hover {
      cursor: pointer;
    }

    li.player:hover .gradients {
      opacity: 0.5;
    }

    li.player:hover .img_1 {
      opacity: 0;
    }

    li.player:hover .img_2 {
      opacity: 1;
    }

    li.player:hover .social-media li {
      right: 0;
    }
  }
}

@media only screen and (max-width: 1279px) {
  section.home-players ul.players {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;

    li.player {
      width: 264px;
    }
  }
}