<section class="hero home-main">
  <div class="container">
    <%= render partial: "shared/home/main/team" %>
    <%= render partial: "shared/home/main/achievements" %>
  </div>
</section>

<section class="home-players">
  <%= render partial: "shared/home/players/players" %>
</section>