<div class="team">
  <div class="team-logo"><%= image_tag("logo/og-logo") %></div>
  
  <div class="team-content">
    <h1>Dota 2</h1>
    <div class="dividing-line"></div>
    <p>Our superstar Dota 2 roster. Powered by flowers and friendship.</p>
  </div>
</div>
