section.contact-form {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    background: linear-gradient(153deg, #23293b 36%, rgba(35,40,60,.5) 78%);
    box-shadow: 6px 12px 18px rgba(0,0,0,.8);
    width: 1024px;
    padding: 36px;
    border-radius: 6px;
    margin: 0 25px;
    position: relative;

    div.sender, div.content {
      display: flex;

      div.each-form {
        display: flex;
        flex-direction: column;

        label {
          font-size: 18px;
          font-weight: 600;
        }

        input, textarea {
          background: 0 0;
          border: 0;
          outline: 0;
          color: white;
          font-family: "Titillium Web", sans-serif;
          font-size: 16px;
          font-weight: 600;
          padding: 7px 0;
          border-bottom: 1px solid #4a5777;
        }
      }
    }

    div.sender {
      margin-bottom: 27px;

      div.each-form {
        width: 360px;
      }

      div.name {
        margin-right: 45px;
      }
    }

    div.content {
      flex-direction: column;

      div.subject {
        width: 360px;
        margin-bottom: 18px;
      }

      div.message {
        margin-bottom: 27px;
        
        textarea {
          height: 135px;
          width: 90%;
          resize: none;
        }
      }
    }

    div.tnc {
      font-size: 16px;
      font-weight: 600;

      span {
        margin-left: 0.5em;

        a {
          color: #5abb58;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    input.btn {
      cursor: not-allowed;
      height: 66px;
      width: 66px;
      color: transparent;
      border: 7px solid white;
      border-radius: 50%;
      position: absolute;
      right: 72px;
      bottom: 72px;
      background: url("icons/plane.png") no-repeat center center;
      background-size: 27px;
      background-color: red;
    }

    input.btn:hover {
      transform: scale(1.1);
      transition: all .3s ease;
    }
  }
}