<div class="content pages">
  <h3 class="title">Pages</h3>
  <div class="dividing-line"></div>
  <div class="link">
    <p><a href="">Home</a></p>
    <p><a href="">News</a></p>
    <p><a href="">Community</a></p>
  </div>
</div>