<div class="content recent-posts">
  <h3 class="title">Recent Posts</h3>
  <div class="dividing-line"></div>
  <div class="link">
    <p><a href="">OG CS:GO Reloaded Series</a></p>
    <p><a href="">OG Valorant | Roster update</a></p>
    <p><a href="">The Big Three reloaded</a></p>
  </div>
</div>