<div class="content text">
  <%= image_tag("logo/og-logo.png") %>
  <div>
    <h3 class="title">OG Esports A/S</h3>
    <div class="dividing-line"></div>
    <p>Not only did OG win the first ever Dota 2 Valve major,
    <br>
    they also were the first team to claim four of them.
    <br>
    They’re also currently the only team to ever be crowned World Dota 2 Champions twice.
    <br>
    <br>
    Willing to take a step further in becoming an esports powerhouse,
    <br>
    we decided to create OG Seed to help grow Dota 2 players,
    <br>
    and welcomed an amazing CS:GO roster as well.
    <br>
    We may be skilled, but the true strength of OG is its people.</p>
  </div>
</div>