section.hero {
  background: url("../../assets/images/background/home-main.jpg") no-repeat center center;
  background-size: cover;
  margin-top: 80px;
  height: 375px;
  border-bottom: 1px solid #4a5777;
  display: flex;
  justify-content: center;
  align-items: center;
}