/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #151521;
  color: white;
  font-family: "Titillium Web", sans-serif;
  min-width: 360px;

  li {
    list-style: none;

    a {
      color: inherit;
      text-decoration: none;
    }

    svg {
      fill: white;
      height: 30px;
      width: auto;
    }
  }

  li.twitter:hover svg {
    fill: #00acee;
  }
  
  li.facebook:hover svg {
    fill: #3b5998;
  }
  
  li.instagram:hover svg {
    fill: #e1306c;
  }
  
  li.youtube:hover svg {
    fill: #ff0000;
  }
  
  li.discord:hover svg {
    fill: #7289da;
  }
}

/* Header */

header {
  height: 80px;
  width: 100%;
  background: radial-gradient(450px at 50% 25%, #343a54, #0f111a 150%);
  border-bottom: 1px solid #666;
  position: fixed;
  top: 0;
  z-index: 1000;  
    
  li {
    cursor: pointer;
    transition: all .3s ease;
  }

  ul.menu-bar, ul.menu-list {

    li {
      font-size: 18px;
      font-weight: 600;
    }

    li:hover {
      color: #6671a3;
      transform: translate(1px, 1px);
    }
  }

  nav {
    
    a img.logo {
      position: absolute;
      height: 100px;
      width: auto;
      top: 12px;
      left: 18px;
    }

    div.menu-toggle {
      display: none;

      svg {
        position: absolute;
        cursor: pointer;
        fill: white;
        width: 42px;
        height: 30px;
        border: 1px solid green;
        border-radius: 3px;
        padding: 6px 0;
        top: 25px;
        right: 25px;
        transition: all .3s ease;
      }

      svg.active {
        fill: #6671a3;
      }

      svg:hover {
        fill: #6671a3;
      }
    }

    div.bar {
      height: 80px;
      display: flex;
      justify-content: space-between;

      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 25px;
      }

      ul.menu-bar {
        width: 500px;
        margin-left: 100px;
      }

      ul.social-media {
        width: 235px;

        li {
          height: 30px;
        }
      }
    }
  }

  div.drop-down {
    display: none;
    background-color: #0f111a;
    height: 248px;
    width: 100%;

    ul.menu-list {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  div.active {
    display: block;
  }
}

/* Footer */

footer {
  background: radial-gradient(312px at 50% 0, #23293b, #0f111a 100%);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  div.container {
    width: 1440px;
    margin: 0 25px;
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 21px;
    }

    .dividing-line {
      background-color: #d2003c;
      height: 2px;
      width: auto;
      margin: 12px 0;
    }

    a {
      color: white;
      font-weight: 600;
      text-decoration: none;
    }

    a:hover {
      color: #6671a3;
      transition: all .3s ease;
    }

    div.text {
      width: 510px;
      display: flex;
      justify-content: space-between;
      margin-right: 25px;

      img {
        height: 100px;
        width: auto;
        margin-right: 15px;
      }

      div {
        width: 415px;
        display: flex;
        flex-direction: column;

        .dividing-line {
          width: 140px;
        }

        p {
          font-size: 15px;
        }
      }
    }

    div.recent-posts {
      width: 350px;
      margin-right: 25px;

      .dividing-line{
        width: 118px;
      }

      p {
        margin-bottom: 10px;
      }
    }

    div.pages {
      width: 105px;
      margin-right: 25px;

      .dividing-line{
        width: 55px;
      }

      p {
        margin-bottom: 3px;
      }
    }

    div.social {
      width: 140px;

      .dividing-line {
        width: 138px;
      }

      p {
        margin-bottom: 3px;
      }
    }
  }
}

div.footboard {
  background-color: #0f111a;
  height: 66px;
  border-top: 1px solid #0a2544;
  display: flex;
  justify-content: center;
  align-items: center;

  h6 {
    font-size: 18px;
    font-weight: 400;
  }
}

/* Responsive */

@media only screen and (max-width: 1599px) {
  header {
    background: radial-gradient(400px at 50% 25%, #343a54, #0f111a 100%);
  }
}

@media only screen and (max-width: 1279px) {
  header {
    background: radial-gradient(320px at 50% 25%, #343a54, #0f111a 100%);
  }

  footer {
    padding: 30px 0;

    div.container {
      margin-right: 5px;

      .title {
        font-size: 18px;
      }

      a {
        font-size: 14px;
      }

      div.text {
  
        div {
          width: auto;

          .dividing-line {
            width: 120px;
          }
        }
      }
  
      div.recent-posts {
        width: auto;

        .dividing-line {
          width: 102px;
        }
      }
      
      div.pages {
        width: auto;

        .dividing-line {
          width: 48px;
        }
      }

      div.social {

        .dividing-line {
          width: 119px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  #drop-down-menu {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  header {
    background: radial-gradient(256px at 50% 25%, #343a54, #0f111a 100%);

    nav {

      div.menu-toggle {
        display: block;
      }

      div.bar {
        justify-content: flex-end;

        ul.menu-bar {
          display: none;
        }

        ul.social-media {
          margin-right: 84px;
        }
      }
    }
  }

  footer {
    background: radial-gradient(320px at 50% 20%, #23293b, #0f111a 100%);
    padding: 30px 18px 0 18px;

    div.container {
      width: auto;
      flex-direction: column;
      align-items: center;
      margin: 0;

      div.content {
        width: auto;
        margin: 0 0 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      div.text {

        img {
          margin: 0;
        }

        div {
          align-items: center;

          p {
            text-align: center;
          }
        }
      }

      div.recent-posts div.link {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      div.pages, div.social {

        div.link {
          display: flex;

          p {
            margin: 0 5px;
          }
        }
      }
    }
  }

  div.footboard {
    height: auto;
    padding: 12px 0;

    h6 {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 767px) {
  header {
    background: radial-gradient(192px at 50% 25%, #343a54, #0f111a 100%);
  }
}

@media only screen and (max-width: 479px) {
  header nav div.bar ul.social-media {
    display: none;
  }
}